<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/screen.css">
		</head>

		<body>
			<div id="outer">
				<div id="top"></div>

				<div id="left">
					<img src="{{site.baseurl}}/images/profile.JPG"/>
				</div>

				<div class="site">
					<div class="title">
						<a class="extra" href="{{site.baseurl}}/">Home</a>
						<a class="extra" href="{{site.baseurl}}/about.html">About Me</a>
						<a class="extra" href="{{site.baseurl}}/research.html">Researches</a>
						<a class="extra" href="{{site.baseurl}}/experience.html">Experiences</a>
						<a class="extra" href="{{site.baseurl}}/pdfs/2020-08-22-CV.pdf">CV</a>
						<a class="extra" href="/blog">Articles</a>
					</div>
	
					{{ content }}
	
					<div class="footer">
						<div class="contact">
							<p>
								SeungHyun Chae (채승현)<br />
								CSE Major Undergraduate at <a href="http://postech.ac.kr/eng/">POSTECH</a><br />
								Email: <a href="mailto:shchae7@postech.ac.kr">shchae7@postech.ac.kr</a> Github: <a href="https://github.com/shchae7">shchae7</a>
							</p>
						</div>
					</div>
				</div>

				<div id="right"></div>
			</div>
		</body>
	</html>
